@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=B612+Mono:wght@700&family=Nunito+Sans:wght@800&family=Open+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

@font-face {
    font-family: 'Brandom';
    src: url('brandontext-black.otf') format('opentype');
        font-weight: normal;
        font-style: normal;
}
@font-face {
    font-family: 'Amsterdam';
    src: url('amsterdamtwo.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
}

:root {
--color-header: #F1DBCF;
--color-letter-back: #455a41;
--color-hover: #76807A;
--color-button: #d3b094;
--color-info: #fff;
--font-info: font-family: 'Poppins', sans-serif;

}

* {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 500;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    height: 2000px;
}

nav {
    position: fixed;
    width: 100%;
    height: 80px;
    background-color: var(--color-header);
    box-shadow: 2px 2px 4px rgb(0 0 0 / 30%);
    z-index: 999;
}

nav .navbar {
    height: 100%;
    max-width: 1250;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
}

.navbar .logo img{
    width: 300px;
    padding: 5px;
    cursor: pointer;
}

.navbar .nav-links {
    height: 100%;
    line-height: 80px;
}

.navbar .nav-links .menu-links{
    display: flex;
}

.navbar .nav-links .menu-links .menu-list-links {
    display: flex;
    align-items: center;
    position: relative;
    list-style: none;
    padding: 0 14px;
}

.navbar .nav-links .menu-links .menu-list-links .list-links {
    color: var(--color-letter-back);
    text-decoration: none;
    white-space: nowrap;
    height: 100%;
    padding: 0 5px;
}

.navbar .nav-links .menu-links .menu-list-links .list-links:hover {
    color: var(--color-hover);
}

.navbar .nav-links .menu-links .menu-list-links .list-links:hover .arrow {
    color: var(--color-hover);
}

.navbar .nav-links .menu-links .menu-list-links .arrow {
    color: var(--color-letter-back);
    text-align: center;
    width: 17px;
    height: 100%;
    line-height: 80px;
    transition: all 0.3s ease;
}

.navbar .nav-links .menu-links .menu-list-links:hover .css-arrow {
    transform: rotate(180deg);
}


.navbar .nav-links .menu-links .menu-list-links .instagram,
.navbar .nav-links .menu-links .menu-list-links .whatsapp {
    color: var(--color-hover);
    text-align: center;
    width: 26px;
    height: 100%;
    line-height: 80px;
}

.navbar .nav-links .menu-links .menu-list-links .list-links .iconify:hover {
    color: var(--color-letter-back);
}

.navbar .nav-links .menu-list-links .sub-menu {
    position: absolute;
    width: 15rem;
    line-height: 40px;
    top: 81px;
    left: 0;
    background-color: var(--color-header);
    border-radius: 0 0 5px 4px;
    box-shadow: 2px 2px 4px rgb(0 0 0 / 30%);
    display: none;
}

.navbar .nav-links .menu-list-links .sub-menu .sub-list-links {
    list-style: none;
    padding: 0 22px;
    border-bottom: 1px solid rgb(155 155 136 / 30%);
}


.navbar .nav-links .menu-list-links .sub-menu .sub-list-links:hover, 
.navbar .nav-links .menu-list-links .sub-menu .sub-list-links .sub-menu-links:hover {
    display: block;
    background-color: var(--color-hover);
    color: var(--color-header);
}

.navbar .nav-links .menu-list-links:hover .sub-menu {
    display: block;
}

.navbar .nav-links .menu-list-links .sub-menu .sub-list-links .sub-menu-links {
    text-decoration: none;
    color: var(--color-letter-back);
    font-size: 14px;
    font: 500;
}

.navbar .nav-links .menu-links .menu-list-links .cta {
    font-size: 13px;
}

.navbar .nav-links .menu-links .menu-list-links .cta .button {
    color: var(--color-letter-back) ;
    padding: 5px 15px;
    margin-right: 25px;
    background-color: var(--color-button);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.2s ease 0s;
}

.navbar .nav-links .menu-links .menu-list-links .cta .button:hover {
    background-color: var(--color-letter-back);
    color: var(--color-header);
}

section .sliders {
    position: relative;
    width: 100%;
    min-height: 650px;
    top: 80px;

}

section .sliders .slide {
    position: absolute;
    width: 100%;
    height: 100%;
    clip-path: circle(0% at 0 50%);
}

section .sliders .slide.active {
    clip-path: circle(150% at 0 50%);
}

section .sliders .slide img {
    width: 100%;

}


section .sliders .slide .info .desc {
    color: var(--color-info);
    font-family: var(--font-info);
    font-weight: 800;
    font-size: 50px;
}

section .sliders .slide img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

section .sliders .slide .info-desc4 {
    position: absolute;
    width: 95%;
    text-align: right;
    margin-top: 130px;
}

section .navigation-button {
    position: absolute;
    display: flex;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

section .navigation-button .btn {
    background-color: rgb(255 255 255);
    width: 10px;
    height: 10px;
    margin: 10px;
    border-radius: 50%;
    cursor: pointer;
}

section .navigation-button .btn.active {
    background-color: var(--color-hover);
    box-shadow: 0 0 2px rgb(0, 0, 0, 0.5);
}

